@font-face {
  font-family: "Lotion Web";
  src: url("Lotion-Regular.woff") format("woff");
}

body {
  font-family: "Lotion Web", Courier, sans-serif;
  background-color: #C4B392;
  color: #564F41;
}
